* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", "Inter", sans-serif;
}

.container {
  max-width: 1260px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background: var(--body-bg);
  color: var(--text-main);
  transition: all 0.3s ease;
}

.speed {
  opacity: 0;
  will-change: transform, opacity;
  transition: all 800ms ease-out;
}

.from-bottom {
  transform: translateY(50px);
}

.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}

.speed.active {
  opacity: 1;
  transform: translate(0, 0);
}

html {
  scroll-behavior: smooth;
} 