.skillsSection {
    padding: 100px 0;
    font-family: 'Inter', sans-serif;

    .container {
        max-width: 1100px;
        margin: 0 auto;
    }

    .header {
        text-align: center;
        margin-bottom: 64px;

        p {
            color: var(--muted);
            font-size: 18px;
            line-height: 28px;
        }
    }

    .skills__title {
        font-size: 40px;
        color: var(--accent-color);
        font-family: "Montserrat", sans-serif;
        margin-bottom: 16px;
        font-weight: 800;
        line-height: 48px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 150px;
            background: rgba(0, 242, 254, 0.15);
            filter: blur(50px);
            border-radius: 35%;
            z-index: -1;
        }

    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 48px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

.category {
    h3 {
        font-size: 20px;
        color: var(--main);
        margin-bottom: 24px;
        padding-bottom: 8px;
        border-bottom: 2px solid var(--accent-color);
        display: inline-block;
    }
}

.skillItem {
    margin-bottom: 24px;

    .info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;

        .label {
            color: var(--main);
        }

        .percentage {
            color: var(--muted);
        }
    }

    .track {
        width: 100%;
        height: 6px;
        background: var(--line-bg);
        border-radius: 999px;
        box-shadow: var(--line-shadow);
        overflow: hidden;

        .bar {
            height: 100%;
            background: var(--accent-color);
            border-radius: 999px;
            width: 0;
            transition: var(--speed);

        }
    }
}