.biography {
    padding: 100px 0;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 45px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 325px);
        grid-template-rows: 1fr;
        justify-content: center;
        gap: 30px;
    }

    &_card {
        border: 2px solid var(--accent-color);
        padding: 18px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        transition: 0.3s all ease-in-out;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 0 15px rgba(0, 242, 254, 0.3);
        }

        &_h {
            font-weight: 600;
            font-size: 22px;
            font-family: "Montserrat", sans-serif;
            color: var(--main);
            margin-top: 5px;
        }

        &_p {
            font-weight: 500;
            font-size: 16px;
            color: var(--muted);
            font-family: "Inter", sans-serif;
            line-height: 1.6;
            text-shadow: 0 0 5px rgba(0, 242, 254, 0.05);
        }

        &_i {
            color: var(--accent-color);
            font-size: 24px;
            border: var(--accent-color) 2px solid;
            border-radius: 10px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 15px rgba(0, 242, 254, 0.3);
            flex-shrink: 0;
        }
    }

    &_img {
        transition: 0.3s ease-in-out;
        width: 225px;
        margin: 0 auto;
        border-radius: 50%;
        height: 225px;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 15px rgba(0, 242, 254, 0.3);
        }

        & img {
            border-radius: 50%;
            border: 2px solid var(--muted);
            width: 225px;
            height: 225px;
        }
    }
}

.journey_card {
    grid-column: 3 span;
    border: 2px solid var(--accent-color);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    transition: 0.3s all ease-in-out;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 15px rgba(0, 242, 254, 0.3);
    }
}

.title {
    position: relative;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    z-index: 1;
    text-align: center;
    color: var(--accent-color);

    &::before {
        content: "";
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 315px;
        height: 150px;
        background: rgba(0, 242, 254, 0.15);
        filter: blur(50px);
        border-radius: 35%;
        z-index: -1;
    }
}

.subtitle {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: var(--muted);
    width: 350px;
    text-shadow: 0 2px 10px rgba(0, 242, 254, 0.15);
    line-height: 1.6;
    text-align: center;
    margin: 10px auto 55px;
}